<p id="notice"><%= notice %></p>

<p>
  <strong>Name ja:</strong>
  <%= @sauna_amenity.name_ja %>
</p>

<%= link_to 'Edit', edit_sauna_amenity_path(@sauna_amenity) %> |
<%= link_to 'Back', sauna_amenities_path %>
