<p id="notice"><%= notice %></p>

<p>
  <strong>Name ja:</strong>
  <%= @sauna_role.name_ja %>
</p>

<%= link_to 'Edit', edit_sauna_role_path(@sauna_role) %> |
<%= link_to 'Back', sauna_roles_path %>
